[Unit]
Description=Polybar
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/polybar 
Restart=on-failure
#RestartSec=5
Environment=DISPLAY=:0
#Environment=XAUTHORITY=/run/user/1000/.mutter-Xwaylandauth.107S92
#Environment=DISPLAY=:0
#Environment=XAUTHORITY=%t/Xauthority

[Install]
WantedBy=graphical-session.target

